@mixin formModalAndSuccessModal {
    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 9998;
        display: flex;
        box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        animation-name: appear;
        animation-duration: 300ms;

        .modal-dialog {
            width: 100%;
            max-width: 550px;
            background: white;
            position: relative;
            margin: 0 20px;
            max-height: calc(100vh - 40px);
            text-align: left;
            display: flex;
            box-orient: vertical;
            box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            animation-name: slide-in;
            animation-duration: 0.5s;

            .modal-header {
                display: flex;
                box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 1rem;
                .modal-title {
                    margin: 0px;
                }
                .modal-close {
                    cursor: pointer;
                    padding: 1rem;
                    margin: -1rem -1rem -1rem auto;
                }
            }
            .modal-footer {
                display: flex;
                box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 1rem;
            }
            .modal-body {
                overflow: auto;

                .modal-content {
                    padding: 1rem;

                    .Enters {
                        font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                            sans-serif;
                        display: flex;
                        box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        box-pack: center;
                        -ms-flex-pack: center;
                        justify-content: center;
                        box-orient: vertical;
                        box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;
                        .error {
                            color: red;
                        }
                    }
                }
            }
        }
    }
    .modal1 {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 9999;
        display: flex;
        box-align: center;
        -ms-flex-align: center;
        align-items: center;
        box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.25);
        animation-name: appear;
        animation-duration: 300ms;

        .modal-dialog1 {
            width: 100%;
            max-width: 550px;
            background: white;
            position: relative;
            margin: 0 20px;
            max-height: calc(100vh - 40px);
            text-align: left;
            display: flex;
            box-orient: vertical;
            box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow: hidden;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
            animation-name: animatetop;
            animation-duration: 0.4s;
            animation-name: slide-in;
            animation-duration: 0.5s;

            .modal-header1 {
                display: flex;
                justify-content: space-around;
                padding-left: 10px;
                border-bottom: 1px solid #dbdbdb;
                box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                background-color: aquamarine;
                color: black;

                .modal-title1 {
                    margin-top: 5px;
                    text-align: center;
                }
                .modal-close1 {
                    margin-left: 20px;
                    cursor: pointer;
                    padding: 1rem;
                }
            }
        }
    }
}
@mixin mixinButton($Vart, $Ml, $Padding) {
    .ContainerT {
        width: 100%;
        display: inline-block;
        box-orient: horizontal;
        box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        margin-bottom: 25px;

        .Contain {
            width: 100%;
            display: flex;
            box-orient: horizontal;
            box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;

            .Title1 {
                display: inline-block;
                text-align: center;
            }

            .Buttn {
                width: 100%;
                margin: 0px;
                padding: $Padding;
                margin-left: $Ml;
                background-color: #ffffff;
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                box-shadow: 3px 5px 5px 0px black;

                .Buy {
                    margin: 15px;
                    padding: 20px;
                    width: $Vart;
                    background-color: orange;
                    font-size: 20px;
                    text-align: center;
                    border-radius: 10px;
                    max-width: 300px;
                }
            }
        }
    }
}
@mixin mixinInfo($Font) {
    .Info {
        width: 100%;
        display: flex;
        box-orient: horizontal;
        box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding: 15px;
        background-color: #ffffff;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        box-shadow: 3px 5px 5px 0px black;
        font-size: 20px;

        .Departure-time {
            font-size: $Font;
            padding-right: 10px;
        }

        .Departure-date {
            font-size: 20px;
        }

        .Origin-name {
            font-size: 20px;
        }

        .Stop {
            text-align: center;
            opacity: 0.5;
        }

        .Arrival-time {
            font-size: $Font;
            padding-left: 10px;
            text-align: right;
        }

        .Destination-name {
            font-size: 20px;
            text-align: right;
        }

        .Arrival-date {
            font-size: 20px;
            text-align: right;
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slide-in {
        from {
            transform: translateY(-150px);
            transform: translateY(-150px);
        }
        to {
            transform: translateY(0);
            transform: translateY(0);
        }
    }

    @keyframes slide-in {
        from {
            transform: translateY(-150px);
            transform: translateY(-150px);
        }
        to {
            transform: translateY(0);
            transform: translateY(0);
        }
    }
}
@media (min-width: 1025px) and (max-width: 2100px) {
    @include formModalAndSuccessModal;
    @include mixinButton(300px, 25px, 15px);
    @include mixinInfo(20px);
    .Arrow {
        height: 50px;
        font-size: 0px;
        text-align: center;
    }
}
@media (min-width: 500px) and (max-width: 900px) {
    @include formModalAndSuccessModal;

    .TicketAdapt {
        width: 100%;
    }
    @include mixinButton(300px, 0px, 15px);
    @include mixinInfo(20px);
    .Arrow {
        width: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
}

@media (min-width: 400px) and (max-width: 600px) {
    @include formModalAndSuccessModal;
    @include mixinButton(150px, 0px, 0px);
    .TicketAdapt {
        width: 100%;
    }
    .Company {
        width: 150px;
    }
    @include mixinInfo(20px);
    .Start {
        width: 100%;
        width: 80px;
        overflow: scroll;
    }
    .Arrow {
        width: 100%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
}
